@using CommonMvc
@model DTO.AdminUserDTO[]
@{
    ViewBag.Title = "管理员列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="text-c">
        @*日期范围：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">*@
        <input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
            <a href="javascript:;" onclick="admin_add('添加管理员', '/AdminUser/Add', '800', '500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span>
        <span class="r">共有数据：<strong>@Model.Length</strong> 条</span>
    </div>
    <form id="formList">
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="9">员工列表</th>
            </tr>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="150">姓名</th>
                <th width="40">用户名</th>
                <th width="90">手机</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr class="text-c">
                    <td><input type="checkbox" value="@user.Id" name="selectIds"></td>
                    <td>@user.Name</td>
                    <td>@user.UserName</td>
                    <td>@user.PhoneNum</td>
                    <td class="td-manage">
                        <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑', '/AdminUser/Edit/@user.Id', '800', '500')" class="ml-5" style="text-decoration: none"><i class="Hui-iconfont">&#xe6df;</i></a> 
                        <a title="删除" href="javascript:;" onclick="admin_del(this, @user.Id)" class="ml-5" style="text-decoration: none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
            }
           
            </tbody>
        </table>
        <div class="dataTables_paginate paging_simple_numbers">
            @{
                var pager = new Pager();
                pager.MaxPagerCount = 3;
                pager.PageIndex = ViewBag.pageIndex;
                pager.PageSize = 3;
                pager.TotalCount= ViewBag.totalCount;
                pager.CurrentPageClassName = "paginate_button";
                pager.UrlPattern = "/AdminUser/List?pageIndex={pn}";
            }
            @Html.Raw(pager.GetPagerHtml())
        </div>
    </form>
</div>
@section FooterScript{
    <script type="text/javascript">

        function datadel() {
            layer.confirm('确认要批量删除吗？',
                function() {
                    var dataForm = $("#formList").serializeArray();
                    $.ajax({
                        url: "/AdminUser/BatchDelete",
                        type: "post",
                        data: dataForm,
                        dataType: "json",
                        success: function(res) {
                            if (res.status == "ok") {
                                location.reload();
                            }
                            else if (res.status=="redirect") {
                                location.href = res.data;
                            }
                            else if (res.status == "error") {
                                alert(res.errorMsg) ;
                            }
                            else
                            {
                                alert("fail");
                            }
                        }
                    });
                });
        }

        function admin_edit(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        function admin_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        function admin_del(obj, id) {
            layer.confirm('确认要删除吗？',
                function(index) {
                    $.ajax({
                        url: "/AdminUser/Delete/" + id,
                        type: "post",
                        dataType: "json",
                        success: function(res) {
                            if (res.status == "ok") {
                                $(obj).parents("tr").remove();
                                layer.msg('已删除!', { icon: 1, time: 1000 });
                            }
                            else if (res.status=="redirect") {
                                location.href = res.data;
                            }
                            else if (res.status == "error") {
                                alert(res.errorMsg) ;
                            }
                            else {
                                layer.msg('删除失败!', { icon: 2, time: 1000 });
                            }
                        }
                    });


                });
        }
    </script>
}

